
    body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
}

    .top-bar {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    }
    .title-heading {
        margin-top: 10px;
    margin-bottom: 20px;
        font-size: 100px;
    }
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 70px;
}

    .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .long-bar {
        padding-left: 0px;
        padding-right: 18px;
    }
.top-bar .form-row > div,.top-bar .long-bar input[type="text"] {
    margin-bottom: 1.2%;
}
/* Increasing the height of select and input elements */
.top-bar .form-input,
.top-bar input[type="text"],
.top-bar select {
    height: 150px; /* Adjust this value as needed */
    font-size:70px;
}

    .title-heading {
        margin-top: 10px;
    margin-bottom: 20px;
        font-size: 100px;
    }
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 70px;
}
    .search-form {

    }

    .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .form-input
    ,input[type="text"]
    {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

    .button-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between buttons */
    margin-top: 20px; /* Example margin for spacing from other content */
}

.btn {

    display: inline-block;
    padding: 20px 30px; /* Adjust padding as needed */
    font-size: 40px; /* Adjust font size */
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 150px; /* Adjust height */
    width: 48%; /* Adjust width */
    box-sizing: border-box; /* Include padding in the width */
    border: 1px solid #ccc; /* Example border */
}

.btn:hover {
    background-color: #0056b3;
}
.image-container {
    position: absolute;
    top: 0; /* Adjust this value to place the image below the top bar */
    left: 0;
    width: 0;
    text-align: center;
    z-index: 0; /* Set a lower stacking order */
}
.bible-search-bar {
    background-color: #0e13a4;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure the top bar stays in its place */
    z-index: 1; /* Set a higher stacking order */
}
.bottom-bar {
            background-color: black;
            color: white;
            text-align: center;
            padding: 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            /*margin-left: 0;*/
            margin: 0;
            z-index: 2;
}