<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>Search Results</title>
    <link rel="icon" type="image/x-icon" href="https://cdn4.iconfinder.com/data/icons/school-and-education-5-1/128/225-1024.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div>
    <button onclick="goBack()" class="btn">חזור לחיפוש</button>
    <h1 class="title-headingW" id="sr"></h1>
    {% if results %}
        <h1 class="title-headingW">{{ results|length }} תוצאות נמצאו:</h1>
        <ul>
            {% for result in results %}
                <li>
                    <strong>ספר:</strong> {{ result[0] }}<br>
                    <strong>פרק:</strong> {{ result[1] }}<br>
                    <strong>פסוק:</strong> {{ result[2] }}<br>
                    <strong>טקסט:</strong> {{ result[3] }}<br>
                    <strong>החלק המתאים:</strong> <span class="matched-part">{{ result[4].strip(",:.") }}</span><br>
                    <strong>אחוזי התאמה: </strong> {{ result[5] }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="title-headingW">לא נמצאו תוצאות.</p>
    {% endif %}
        </div>
        <script>
            function goBack() {
                    window.history.back();
                    document.getElementById('submit').disabled = false;
                }
            let searchTerm = localStorage.getItem('search');
            document.getElementById("sr").innerHTML = "תוצאות לחיפוש של " + searchTerm + ':';


        </script>
</body>
</html>
