<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="icon" type="image/x-icon" href="https://cdn4.iconfinder.com/data/icons/school-and-education-5-1/128/225-1024.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div>
    <button onclick="goBack()" class="btn">Back to search</button>
    <h1 class="title-headingW" id="sr"></h1>
    {% if results %}
        <h1 class="title-headingW">{{ results|length }} results found:</h1>
        <ul>
            {% for result in results %}
                <li>
                    <strong>Book:</strong> {{ result[0] }}<br>
                    <strong>Chapter:</strong> {{ result[1] }}<br>
                    <strong>Verse:</strong> {{ result[2] }}<br>
                    <strong>Text:</strong> {{ result[3] }}<br>
                    <strong>Matched Part:</strong> <span class="matched-part">{{ result[4].strip(",:.") }}</span><br>
                    <strong>accuracy:</strong> {{ result[5] }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
        <script>
            function goBack() {
                    window.history.back();
                }
            let searchTerm = localStorage.getItem('search');
            document.getElementById("sr").innerHTML = "results for " + searchTerm + ':';
        </script>
</body>
</html>
